# Ignore dependencies
node_modules

# Ignore development and environment files
.git
.gitignore
.env
*.log
Dockerfile
plan.md
README.md

# Ignore local development artifacts
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea
.vscode 